body{
  margin: 0;
}
.layout{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
 }

.map{
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 10vh;
}

.controls{
  background-color: rgba(250, 250, 250, 0.95);
  padding: 1%;

  position: absolute;
  right: 5px;
  border-radius: 5px;
}

.test{
  position: absolute;
  height: 10vh;
  background-color: burlywood;
  z-index: 5;
}
input{
  padding: 2%;
  border-radius: 5px;

}

.myMap{
  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
}